@containerW: 90%;

.fl() {
    display: inline-block;
    float: left;
}

.fr() {
    display: inline-block;
    float: right;
}

.height(@height) {
    height: @height;
    line-height: @height;
}

.middle() {
    display: table-cell;
    vertical-align: middle;
}

.ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
